<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>ADMIN</title>
  <meta name="keywords" content="后台管理系统"/>
  <meta name="description" content="ADMIN"/>
  <link rel="stylesheet" href="public/css/welcome.css">
  <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon"/>

<body>
<div class="reveal"><%= text %></div>

<div class="footer-bar">
  <span></span>
  <a class="link" target="_blank" href="#"></a>
</div>

<script src="public/js/welcome.js"></script>
</body>

</html>
